DATABASE_URL="postgresql://postgres:password@localhost:5432/donnerx?schema=public"
NEXTAUTH_SECRET="your-super-secret-key-change-in-production-donnerx-2024"
NEXTAUTH_URL="http://localhost:3000"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-app-password"
EMAIL_FROM="DONNER.X <noreply@donnerx.com>"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="DONNER.X"
